<button id="list">List Students</button>

<div id="Users">
</div>

<script id="userTemplate" type="text/template">
  <ul class = "userInfo">
    <li><%%= name %></li>
    <li><%%= email %></li>
    <li><%%= picture %></li>
  </ul>
</script>
