<!DOCTYPE html>
<html>
  <head>
    <title>Yearbook</title>
    <%= csrf_meta_tags %>
  </head>
  <body>
    <button id="list">List Students</button>
    <%=javascript_include_tag "application" %>
  </body>
</html>
