/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_self
 */

@import "bourbon";
// @import "home";
// @import "users";

$gray:#9EA6A3;
$teal:#8CD3BA;


body{
  background-color: $teal;
}
.container{
  h1{
    text-align: center;  
    }

  background-color: $gray;
  height:100%;
  margin:auto;
  max-width:965px;
}
 header{
  background-color:#000000;
  color: #FFFFFF;
  img{
    height: 50px;
  }
  .headerText{
  margin-top:10px;
  }

  .headerLogin{
    float: right;
    margin-top:15px;
    margin-right:15px;
  }
}
.Users{
  float:left;
}

.usersInfo{
    margin: 5px;
    padding: 5px;
    height: auto;
    width: auto;
    float: left;
    text-align: center;
  img {
    height:170px;
    border: 1px solid #000000
  }
}

.userName{
    text-align: center;
    font-weight: normal;
    margin: 5px;
}
.usersList{
  img{
    height:150px;
  }
}

footer{
 background-color:$gray;
 color: #FFFFFF;
 img{
   height: 50px;
 }
}
